<!--The content below is only a placeholder and can be replaced.-->
<a routerLink="/">Grid</a>
<a routerLink="/visits-per-day">Visits</a>
<a routerLink="/show-portfolio-per-day">Show Portfolio</a>
<a routerLink="/unique-show-portfolio-per-day">Unique Show Portfolio</a>
<a routerLink="/visits-grouped-per-day">Visits (Grouped)</a>
<a routerLink="/dynamic-keys">Dynamic Keys (Y/X)</a>
<a routerLink="/dynamic-actions">Dynamic Actions</a>
<router-outlet></router-outlet>
