<h1>Dynamic Action: {{title}}</h1>
<label>Y Axis:
    <select [(ngModel)]="selectedYKey" (change)="selectionChanged()">
        <option *ngFor="let action of actions" [value]="action">{{action}}</option>
    </select>
</label>
&nbsp;&nbsp;&nbsp;<label>X Axis:
    <select [(ngModel)]="selectedXKey" (change)="selectionChanged()">
        <option *ngFor="let key of keys" [value]="key">{{key}}</option>
    </select>
</label>
<div id="nvd3-chart">
    <svg></svg>
</div>
